/* li {
  list-style-type: none;
  list-style: none;

  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  list-style: none;

  margin-left: 10px;
  margin-right: 10px;
} */

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  padding-left: 10px;
  padding-right: 15px;

  /* border: green 4px solid; */
}

.user {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* border: black 4px solid; */
}

.conversation {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* flex: 1; */

  list-style-type: none;
  list-style: none;

  margin: 0;
  padding: 0;

  /* border: grey 4px solid; */

  justify-content: center;
  align-content: flex-start;
  /* align-items: flex-start; */
  
  /* background-color: blue; */
}
