.main {
  /* background-color: lightblue; */

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  /* border: orange 2px solid; */

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* border: blue 4px solid; */
}
